


    <footer style="margin-top: 3rem; display: flex; justify-content: center;  
    align-items: center; background-color: #00247c; width: 100%; font-size: larger; background-color: #0b3397;
    color: #fff;
    text-align: center;
    padding: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;">

        <div class="f-info">
            <div class="info-social" style="font-size: 30px; margin-top: 2px; margin-bottom: 2px;" >
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
            <div class="title-footer" style="margin-top: 2px; margin-bottom: 2px;">RRA Private Limited</div>
            <div class="f-info-links" style="text-decoration: none; margin-top: 2px; margin-bottom: 2px;">
                <a class="f-info-links" style="text-decoration: none; color: black;" href="">Privacy</a>
                <a class="f-info-links" style="text-decoration: none ; color: black;" href="">Terms</a>
            </div>
        </div>
    </footer>
