<% include ./includes/header.ejs %>

<body style="background-color: #00247c;">
  

<h1 style="text-align: center; margin-top: 2rem; color: #ffff; ">Select Your Compliance</h1>

<div class="container" style="margin-top: 2rem;margin-bottom: 8rem;">
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="height: 14rem; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease-in-out;">
        <div class="card-body" style="padding: 1.5rem;">
          <h5 class="card-title" style="font-size: 1.5rem; color: #007bff;">General Data Protection Regulations</h5>
          <p class="card-text" style="color: #555;">GDPR stands for General Data Protection Regulation and was enacted by the European Union (EU) in 2018. The GDPR includes set standards for organizations that collect data or target individuals in the EU, even if the organization is located outside the EU or its member states.</p>
          <a href="/questions" class="btn btn-primary" style="background-color: rgba(21, 214, 214, 0.878); border-color: rgba(21, 214, 214, 0.878);">Start Assessment</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="height: 14rem; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease-in-out;">
        <div class="card-body" style="padding: 1.5rem;">
          <h5 class="card-title" style="font-size: 1.5rem; color: #007bff;">Payment Card Industry Data Security Standard</h5>
          <p class="card-text" style="color: #555;">Payment Card Industry Data Security Standard (PCI DSS) is a set of regulatory standards that ensures all organizations maintain a secure environment for credit card information. To be compliant, organization compliance must be validated annually.</p>
          <a href="/questions" class="btn btn-primary" style="background-color:rgba(21, 214, 214, 0.878); border-color: rgba(21, 214, 214, 0.878);">Start Assessment</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 3rem;">
    <div class="col-sm-6">
      <div class="card" style="height: 14rem; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease-in-out;">
        <div class="card-body" style="padding: 1.5rem;">
          <h5 class="card-title" style="font-size: 1.5rem; color: #007bff;">The Health Insurance Portability and Accountability Act</h5>
          <p class="card-text" style="color: #555;">The Health Insurance Portability and Accountability Act, commonly known as HIPAA, is a law that ensures the confidentiality, availability and integrity of PHI.</p>
          <a href="/questions" class="btn btn-primary" style="background-color: rgba(21, 214, 214, 0.878); border-color:rgba(21, 214, 214, 0.878);">Start Assessment</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style=" height: 14rem; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); transition: transform 0.3s ease-in-out;">
        <div class="card-body" style="padding: 1.5rem;">
          <h5 class="card-title" style="font-size: 1.5rem; color: #007bff;">Educational Institutions</h5>
          <p class="card-text" style="color: #555;">Educational institutions comprise schools, colleges, universities, vocational training centers, and other entities dedicated to providing formal education and training to students of all ages.</p>
          <a href="/questions" class="btn btn-primary" style="background-color: rgba(21, 214, 214, 0.878); border-color: rgba(21, 214, 214, 0.878);">Start Assessment</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<% include ./includes/footer.ejs %>
